
<div class="reportSection">
  <h4>Size</h4>
  <p>
    {{size}}
  </p>
</div>

<div class="reportSection">
  <h4>Percent in State and Federal Waters</h4>
  <p>
    state: {{state_waters}}
  </p>
  <p>
    federal: {{federal_waters}}
  </p>
</div>

