
<div class="reportSection">
  <h4>Size</h4>
  <p class="large">
    The proposed sanctuary is <strong>{{size}}</strong> square miles.
  </p>
</div>

<div class="reportSection">
  <h4>Area in State and Federal Waters</h4>
  <p class="large">
    The proposed sanctuary includes <strong>{{state_waters}}</strong> square miles in state waters and <strong>{{fed_waters}}</strong> square miles in federal waters.
  </p>

</div>

